body{
    font-family: 'Special Elite', cursive;
    background: lightseagreen;
}

.header_div{
    background: whitesmoke;
    color: teal;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: unset;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(125, 189, 189);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: black;
    line-height: 3;
    text-align: center;
    text-shadow:5px 5px 5px gray;
}